.footer {
  background-color: #dfe9ef;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 1rem 0;
  color: #333;
  font-size: 0.9rem;
}

.footer.light {
  background-color: white;
  color: #333;
}

body.dark footer {
  background-color: #161616;
  border-top: 1px solid #2a2a2a;
  color: #ccc;
}

.footer-social img {
  width: 30px;
  margin: 0 0.5rem;
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.footer-social img:hover {
  transform: scale(1.1);
}

.footer.dark .footer-social img[alt="GitHub"]{
  background-color: white;  
  padding: 5px;
  border-radius: 5px;
}

.footer.light .footer-social img[alt="GitHub"] {
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
}


.footer.dark .footer-social img[alt="GitHub"]:hover{
  background-color: white;
}

.footer.light .footer-social img[alt="GitHub"]:hover {
  background-color: gray;
}

.icon {
  font-size: 1.3rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.email{
  padding: 1rem;
}