body {
  background-color: #f4f4f4;
  background-image:
    linear-gradient(rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 100% 32px;
}

body.dark {
  background-color: #1e1b2f;
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px);
}
