body {
  animation: fadeIn 0.6s ease-out;
  background: linear-gradient(180deg, #f5f7fa 0%, #e2edf2 100%);
  color: #000; /* Texto por defecto */
}

body.dark {
  background: linear-gradient(180deg, #121212 0%, #1e1e1e 100%);
  color: #fff;
}